body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: sans-serif;
  background: rgba(135, 130, 130, 1);
  background-image: url("./assets/web.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.header {
  width: 100vw;
  height: 10vh;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spider {
  max-width: auto;
  max-height: 20vh;
}

.dataBreach {
  width: 18vw;
  height: 80vh;
  display: flex;
  padding: 1vh 1vw;
  margin: 0.5em 0;
  flex-direction: column;
  background: transparent;
  border: 0.1em solid rgba(255, 0, 0, 0.75);
}

.dataBreachHeading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.dataBreach h2 {
  color: white;
  text-decoration: underline;
}

.pwnedLogo {
  height: 7vh;
  width: auto;
}

.flipCard {
  background-color: transparent;
  width: 35vw;
  height: 80vh;
  padding: 0.5em;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront {
  background: rgba(217, 217, 217, 1);
}

.flipCardBack {
  background: rgba(217, 217, 217, 1);
  transform: rotateY(180deg);
}
