body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: rgba(135, 130, 130, 1);
  background-image: url("./assets/web.png");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.header {
  width: 100vw;
  height: 10vh;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mainHeader {
  font-size: calc(2vw + 2vh);
}

#loginSection {
  display: flex;
  flex-direction: row;
  color: white;
  background: rgba(50, 48, 48, 0.9);
  height: 50vh;
  width: 50vw;
  margin-top: 20vh;
  justify-content: space-between;
  align-items: left;
}

.loginHeadings {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.loginHeadings h1 {
  font-size: calc(2.5vw + 2.5vh);
  margin: 0;
}
.loginHeadings h3 {
  font-size: calc(1.5vw + 1.5vh);
  margin: 0;
  color: red;
}

.loginSpiderImage {
  max-width: 100%;
  height: 100%;
}

#googleLoginButton {
  border: transparent;
  border-radius: 0.5em;
  padding: 0.5em;
  height: 10vh;
  width: 10vw;
  font-size: calc(0.6vw + 0.6vh);
  background: white;
}

#googleLoginButton:hover {
  background: rgba(225, 225, 225, 0.95);
}

#mainContent {
  display: none;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.spider {
  max-width: 7vw;
  height: 18vh;
}

.dataBreach {
  width: 18vw;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  padding: 1vh 1vw;
  margin: 0.5em 0;
  flex-direction: column;
  background: transparent;
  border: 0.1em solid rgba(255, 0, 0, 0.75);
}

.dataBreachHeading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.dataBreachHeading h2 {
  font-size: calc(1vw + 1vh);
}

.dataBreachCard {
  display: flex;
  flex-direction: column;
  background: rgba(217, 217, 217, 1);
  margin-bottom: 1vh;
  padding: 0.5em;
  width: max-content;
  width: 17vw;
}

.dataBreachCardText h4,
.dataBreachCardText h5,
.dataBreachCardText h6 {
  white-space: normal;
  overflow: unset;
  text-overflow: unset;
  margin: 0;
}

.dataBreachCardText h4 {
  font-size: calc(0.8vw + 0.8vh);
}

.dataBreachCardText h5 {
  margin: 0.5em 0;
  font-size: calc(0.6vw + 0.6vh);
}

.dataBreachCardText h6 {
  font-weight: 300;
  font-size: calc(0.5vw + 0.5vh);
}

#dataBreachContainer {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#dataBreachContainer::-webkit-scrollbar {
  display: none;
}

#dataBreachContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

#dataBreachContainer::-webkit-scrollbar-track {
  background-color: #eee;
}

.dataBreachCardLogo {
  width: calc(2.5vw + 2.5vh);
  height: auto;
  margin-left: auto;
}

.dataBreachCardText {
  margin-bottom: 0;
}

.nameAndLogoContainer {
  display: flex;
  align-items: center;
}

.dataBreach h2 {
  color: white;
  text-decoration: underline;
}

.pwnedLogo {
  width: calc(4vw + 3vh);
  height: calc(3vw + 3vh);
}

#checkPwnedButton {
  border: transparent;
  border-radius: 0.5em;
  background: white;
  font-size: calc(0.8vw + 0.8vh);
}

#checkPwnedButton:hover {
  background: rgba(225, 225, 225, 0.95);
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flipCard {
  background-color: transparent;
  width: 35vw;
  height: 82.5vh;
  padding: 0.5em;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flipCardFront {
  background: rgba(217, 217, 217, 1);
  font-size: 16px;
}

.flipCardFront h2 {
  font-size: calc(1.5vh + 1.5vw);
}

.flipCardFront img {
  width: 20vw;
  height: auto;
}

.flipCardBack {
  background: rgba(217, 217, 217, 1);
  transform: rotateY(180deg);
}

.googleInfoContent {
  column-count: 2;
  column-gap: 20px;
  padding: 15vh 0;
  height: 67.5vh;
}

.googleInfoContent h4 {
  text-align: start;
  font-size: calc(0.85vh + 0.85vw);
}

.googleInfoContent p {
  text-align: start;
  font-size: calc(0.75vh + 0.75vw);
}

.googleInfoContent img {
  align-self: flex-start;
  width: 5vw;
  height: auto;
}
