body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-image: url("./assets/web.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(50, 48, 48, 1);
}

#header {
  width: 100vw;
  height: 10vh;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#mainHeader {
  font-size: 3rem;
}

#logoutButton {
  margin-right: 1em;
  border-color: transparent;
  border-radius: 0.5em;
  background: white;
  display: flex;
  align-items: center;
}

.logoutLogo {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-left: 0.5em;
  background-image: url("./assets/logout.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#loginSection {
  display: flex;
  flex-direction: row;
  color: white;
  background: rgba(50, 48, 48, 0.9);
  height: 50vh;
  width: 50vw;
  margin-top: 20vh;
  justify-content: space-between;
  align-items: left;
}

.loginHeadings {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.loginHeadings h1 {
  font-size: calc(2.5vw + 2.5vh);
  margin: 0;
}
.loginHeadings h3 {
  font-size: calc(1.5vw + 1.5vh);
  margin: 0;
  color: red;
}

.loginSpiderImage {
  max-width: 100%;
  height: 100%;
}

#googleLoginButton {
  border: transparent;
  border-radius: 0.5em;
  padding: 0.5em;
  height: 10vh;
  width: 10vw;
  font-size: calc(0.6vw + 0.6vh);
  background: white;
}

#googleLoginButton:hover {
  background: rgba(225, 225, 225, 0.95);
}

#mainContent {
  display: none;
  align-content: center;
  justify-content: center;
}

@media (max-width: 768px) {
  #mainContent {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}

.spider {
  max-width: 7vw;
  height: 18vh;
}

.dataBreach {
  width: 29vw;
  display: flex;
  margin-right: 10vw;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vh 1vw;
  flex-direction: column;
  background: rgba(24, 24, 24, 1);
}

@media (max-width: 768px) {
  .dataBreach {
    margin-right: 0;
    width: 100vw;
    max-width: 100vw;
    min-height: 30vh;
    flex-direction: column;
  }
}

.dataBreachHeading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.dataBreachHeading h2 {
  font-size: 1.3em;
}

.dataBreachCard {
  display: flex;
  flex-direction: column;
  margin: 1vh;
  padding: 0.5em;
  width: auto;
  background: rgba(217, 217, 217, 1);
}

@media (max-width: 768px) {
  .dataBreachHeading {
    margin-left: 1em;
  }

  .dataBreachCard {
    flex-direction: column;
    width: auto;
  }
}

#dataBreachContainer {
  height: 70vh;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  #dataBreachContainer {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  #dataBreachContainer.showScrollbar::-webkit-scrollbar {
    display: block;
  }
}

@media (min-width: 769px) {
  #dataBreachContainer::-webkit-scrollbar {
    display: none;
  }
}

#dataBreachContainer::-webkit-scrollbar {
  display: none;
}

#dataBreachContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10.8em;
}

#dataBreachContainer::-webkit-scrollbar-track {
  background-color: #eee;
}

.dataBreachCardLogo {
  width: calc(2.5vw + 2.5vh);
  height: auto;
}
.nameAndLogoContainer {
  display: flex;
  flex-direction: row;
}

.nameAndLogoContainer img {
  align-self: center;
  margin-right: 1em;
}

.nameAndLogoContainer h4 {
  align-self: center;
}

.dataBreachCardText h4,
.dataBreachCardText h5,
.dataBreachCardText h6 {
  white-space: normal;
  overflow: unset;
  text-overflow: unset;
  margin: 0;
}

.dataBreachCardText h5 {
  margin: 0.5em 0;
}

.dataBreachCardText h6 {
  font-weight: 300;
}

.dataBreachCardText {
  margin-bottom: 0;
}

.dataBreach h2 {
  color: white;
  text-decoration: underline;
}

.pwnedLogo {
  width: auto;
  height: 5rem;
}

#checkPwnedButton {
  border: transparent;
  border-radius: 0.5em;
  background: white;
  font-size: 1rem;
}

#checkPwnedButton:hover {
  background: rgba(225, 225, 225, 0.95);
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .cardContent {
    justify-content: center;
    align-content: center;
  }
}

.flipCard {
  background-color: transparent;
  width: 30vw;
  min-height: 42vh;
  padding: 0.5em;
  margin: 0 0.5em;
}

@media (max-width: 768px) {
  .flipCard {
    width: 80vw;
    min-height: 42vh;
  }
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flipCardFront {
  background: rgba(217, 217, 217, 1);
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.flipCardFront img {
  width: auto;
  height: 15vh;
}

.flipCardBack {
  background: rgba(217, 217, 217, 1);
  transform: rotateY(180deg);
}

.infoContent {
  width: inherit;
  column-count: 2;
  column-gap: 20px;
  padding: 1rem 0;
  overflow-y: scroll;
}

.infoContent img {
  width: 8vw;
  height: auto;
}

.infoContent {
  position: relative;
}

.CardLoginButton {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.githubLogo {
  display: inline-block;
  width: 5em;
  height: 5em;
  background-image: url("./assets/githubLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.googleLogo {
  display: inline-block;
  width: 5em;
  height: 5em;
  background-image: url("./assets/googleLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
