html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  background-image: url("./assets/web.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(50, 48, 48, 1);
}

#header {
  width: 100vw;
  height: 10vh;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  align-items: center;
}

#mainHeader {
  font-size: 2.5rem;
}

#logoutButton {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  margin-right: 1em;
  border-color: transparent;
  border-radius: 0.5em;
  margin-left: auto;
  align-items: center;
  font-size: 0.9rem;
}

#logoutButton:hover {
  cursor: pointer;
}

.logoutLogo {
  display: inline-block;
  width: 2em;
  height: 2em;
}

/* ****************************  */


#loginSection {
  margin: 0;
  max-width: 100vw;
  height: auto;
  display: flex;
}

.content {
  margin: 0;
  display: flex;
  width: 100vw;
  height: auto;
  flex-wrap: wrap-reverse;
}

.div-1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-evenly;
  flex: 1 1 30%;
  height: 90vh;
  align-items: center;
}

.div-1 figure {
  margin: 0;
}

.div-2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 0;
  background-color: #312f2f;
  justify-content: center; 
  flex: 1 1 70%;
  gap: 0.5em;
  height: 90vh;
  min-width: 15rem;
}

.image-container-1 {
  margin: 0;
  align-self: flex-start;
}

.image-container-2 {
  margin: 0;
  /* align-self: flex-start; */
}

.image-container-3 {
  margin: 0;
  align-self: flex-end;
}

.image-container-4 {  
  margin: 0;
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 6;
  grid-column-end: 10;
}

.image-1 {
  max-width: 15em;
}

.login-button {
  max-width: 20em;
}

.image-2 {
  max-width: 15em;
}

.image-3 {
  float: right;
  width: 100%;
  height: 100%;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

.welcome-message {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 6;
  justify-content: left;
  margin: 0;
  display: flex;
  padding-left: 2em;
}

.bigger {
  font-size: calc(16px + 4vw);
  color: white;
}

.red-message {
  margin: 1em;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 8;
  display: flex;
  justify-content: center;
}

.red-message p {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
} 

.red {
  margin: 0;
  color: red;
  font-size: calc(16px + 1vw);;
}

/* ******************** */

#googleLoginButton {
  border: transparent;
  /* border-radius: 0.5em; */
  /* padding: 0.5em; */
  max-width: 15rem;
  /* font-size: calc(0.6vw + 0.6vh1); */
}

#googleLoginButton:hover {
  cursor: pointer;
}

#googleLoginButton:hover {
  background: rgba(255, 255, 255, 0.05);
}

#mainContent {
  height: 90vh;
  display: none;
  align-content: center;
  justify-content: center;
}

#checkPwnedButton {
  border: transparent;
  border-radius: 0.5em;
  background: white;
  font-size: 1rem;
}

#checkPwnedButton:hover {
  background: rgba(225, 225, 225, 0.95);
  cursor: pointer;
}

.cardContent {
  justify-content: center;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  background-position: center;
  background-repeat: no-repeat;
}

.flipCard {
  width: 40vw;
  min-height: 42vh;
  padding: 0.5em;
  margin: 0 0.5em;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner,
.flipCard:focus .flipCardInner .flipCard:active .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 1em rgba(105, 93, 93);
}
.flipCardFront:hover,
.flipCardBack:hover {
  cursor: pointer;
}
.flipCardFront {
  background: #dddddd;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}

.flipCardFront img {
  width: auto;
  height: 15vh;
}

.flipCardBack {
  transform: rotateY(180deg);
  background: #dddddd;
}

.infoContent {
  align-content: center;
  width: inherit;
  padding: 1rem 0;
  overflow-y: auto;
}

.infoContent img {
  width: 8vw;
  height: auto;
}

.infoContent {
  position: relative;
}

.CardLoginButton {
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.CardLoginButton:hover {
  cursor: pointer;
}

.githubLogo {
  display: inline-block;
  width: 5em;
  height: 5em;
  background-image: url("./assets/githubLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.googleLogo {
  display: inline-block;
  width: 5em;
  height: 5em;
  background-image: url("./assets/googleLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.noBreachText {
  color: #5bff66;
}

.dataBreachCard {
  width: inherit;
  overflow-y: auto;
  padding: 1rem 0;
}

#dataBreachContainer {
  display: none;
}

#dataBreachContainer img {
  width: 5rem;
  height: auto;
}

.noDataBreach {
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: 0 0 1em rgba(105, 93, 93);
  border-radius: 1rem;
  padding: 1em;
  height: 4em;
  background: #dddddd;
}

@media (max-width: 48rem) {
  .flipCard {
    width: 80vw;
    min-height: 42vh;
  }
}

.toggle {
  position: relative;
  display: inline-block;
  margin-top: 0.5rem;
  width: 3.2rem;
  height: 1.5rem;
  background-color: #c9c6c6;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
}
.toggle::after {
  content: "";
  position: absolute;
  top: 0.05rem;
  left: 0.2rem;
  width: 1.4rem;
  height: 1.4rem;
  background-color: white;
  border-radius: 50%;
  transition: all 0.25s ease-out;
}

#toggleButton:checked + .toggle {
  background-color: rgb(73, 72, 72);
}

#toggleButton:checked + .toggle::after {
  transform: translateX(1.5rem);
}

.toggleButtonHide {
  opacity: 0;
  height: 0;
  width: 0;
}

#toggleButton:hover + .toggleText {
  display: inline;
}

.toggleText {
  display: none;
  color: white;
  font-weight: 400;
}

#toggleButtonSection {
  visibility: hidden;
  margin-left: 1vw;
  margin-right: auto;
  font-size: calc(0.5em + 1vw);
  display: flex;
  text-align: left;
  flex-direction: column;
}
